@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
  }
  
  .glass-input {
    width: 100%;
    padding: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
  }
  
  .glass-button {
    background: linear-gradient(to right, #66ff99, #009966);
    color: white;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .glass-button:hover {
    background: linear-gradient(to right, #009966, #66ff99);
    scale: 1.05;
  }